<% layout("/layouts/boilerplate")%>


<div class="row">

        <div class="alert alert-denger col-6 offset-3" role="alert">
        Something went wrong please check and try again!
        <h4 class="alert-heading" ><%=message %></h4>
        </div>
</div>


